body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(233, 47%, 7%);
    overflow-y: hidden;
}

p {
    font-size: 15px;
}

.content-container {
    display: flex;
    flex-direction: row;
    width: 60em;
    height: 25em;
    background-color: hsl(244, 38%, 16%);
    border-radius: 1em;
}

.details-container {
    display: flex;
    flex-direction: column;
    width: 30em;
    height: 30em;
    margin: 2em;
}

.details-header {
    color: hsl(0, 0%, 100%);
    font-family: 'Lexend Deca';
    font-weight: 400;
    font-size: 2.1em;
}

.purple {
    color: hsl(277, 64%, 61%);
}

.details-description {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: Inter;
    font-weight: 400;
    letter-spacing: 0.1em;
    font-size: 0.9em;
    line-height: 1.4em;
}


.stats-container {
    display: flex;
    flex-direction: row;
    color: white;
    gap: 5em;
    text-transform: uppercase;
    font-family: 'Inter';
    margin-top: 3em;
}

.stat-header {
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 1.1em;
}

.stat-paragraph {
    color: hsla(0, 0%, 100%, 0.6);
    font-weight: 400;
    font-size: 0.5em;
    letter-spacing: 0.2em;
}

.img-container {
    width: 30em;
    height: 25em;
    background-image: url(./images/image-header-desktop.jpg);
    border-radius: 0 1em 1em 0;
}

.purple-overlay {
    width: 30em;
    height: 25em;
    background-color: hsla(274, 80%, 29%, 0.8);
    z-index: 25;
    border-radius: 0 1em 1em 0;
}

